.catalog{

h2{
    font-size: 40px;
    margin-left: 10px;
    padding-top: 50px;
    color: #414141;
}
  &__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
    row-gap: 30px;
    margin-top: 30px;
  }
  &__card{
  position: relative;
  }
  &__p{
    position: absolute;
  bottom: 15px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  }

}