.catalog{
padding: 100px 0 100px 0;
// width: 1263px;
.container{
  width: 1170px;

}
h2{
    font-size: 45px;
    margin-left: 10px;
    color: #414141;
    padding-top: 20px;
}
  &__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 30px;
  }
  &__card{
  position: relative;
  }
  &__p{
    position: absolute;
  bottom: 15px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  }
  article {
    display: flex;
    column-gap: 25px;
    align-items: center;
    padding: 30px 0 30px;
}
h3 {
    font-size: 14px;
    color: #414141;
    font-weight: 400;
}

}