.home{
  &__cards{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    
    
  }
  &__sale{
    display: flex;
    justify-content: space-between;
    margin-top: 89px;
    align-items: center;
  }
  &__new{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__prev{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .first{
    font-weight: 700;
font-size: 36px;
  }
  .all{
    font-weight: 400;
font-size: 16px;
  }
}
