* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.sectionName {
    font-size: 46px;
    font-weight: 700;
    color: #414141;
}