.singleCard {
    background-color: #FBF8EC;
    padding-bottom: 80px;
    padding-top: 70px;

    .titleInner {
        padding: 30px 0;

        article {
            display: flex;
            column-gap: 25px;
            align-items: center;

            h3 {
                font-size: 12px;
                color: #414141;
                font-weight: 400;
            }

            svg {
                font-size: 18px;
            }

            .articleProductName {
                color: #8F8F8F;
            }
        }

        .productName {
            font-size: 24px;
            line-height: 3.2em;
        }

        .tools {
            display: flex;
            font-size: 12px;
            column-gap: 40px;
            align-items: center;

            p {
                display: flex;
                align-items: center;
                column-gap: 10px;

                span:hover {
                    border-bottom: 1px solid black;
                }
            }
        }
    }

    .cardWrapper {
        width: 100%;
        height: 450px;
        display: grid;
        column-gap: 30px;
        margin-bottom: 120px;
        grid-template-columns: 1fr 1fr;

        &__itemLeftSide {
            height: 100%;
            display: grid;
            row-gap: 15px;
            grid-template-columns: 1fr 86%;
            grid-template-rows: repeat(5, 1fr);

            .leftItem {
                width: 60px;
                height: 100%;
                background-color: #af911a;
                border-radius: 4px;
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
            }

            .leftMainItem {
                position: relative;
                grid-row-end: 6;
                grid-row-start: 1;
                grid-column-end: 3;
                grid-column-start: 2;
                background-color: aqua;
                border-radius: 4px;
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

                span {
                    top: 20px;
                    right: 20px;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 6px;
                    position: absolute;
                    background-color: #FF6633;
                }
            }
        }

        &__itemDiscriptionSide {
            display: grid;
            column-gap: 30px;
            grid-template-columns: 70% 1fr;

            .discriptionSide {

                &__pricePanel {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;

                    .price {
                        font-size: 24px;
                        color: #606060;
                        align-self: flex-end;
                    }

                    .greyReminder {
                        font-size: 12px;
                        color: #BFBFBF;
                        margin-top: 10px;
                    }

                    .salePrice {
                        font-size: 36px;
                        justify-self: end;
                        letter-spacing: 2px;
                        grid-row-end: 2;
                        grid-row-start: 1;
                        grid-column-start: 2;
                    }

                    .Reminder {
                        font-size: 12px;
                        color: #BFBFBF;
                        margin-top: 10px;
                        justify-self: end;

                        span {
                            color: black;
                            padding: 3px 9px;
                            margin-left: 10px;
                            border-radius: 50%;
                            border: 1px solid black;
                        }
                    }
                }

                .addBasket {
                    width: 100%;
                    border: none;
                    display: grid;
                    padding: 15px;
                    color: white;
                    font-size: 24px;
                    font-weight: 400;
                    border-radius: 6px;
                    letter-spacing: 2px;
                    align-items: center;
                    background-color: #FF6633;
                    grid-template-columns: 10% 1fr;

                    span {
                        justify-self: start;
                    }
                }

                .notifyPanel {
                    display: grid;
                    justify-content: center;
                    grid-template-rows: 1fr 1fr;

                    article {
                        display: flex;
                        margin: 7px 0;
                        align-items: center;
                        justify-content: center;

                        p {
                            font-size: 12px;
                            margin-left: 20px;
                        }

                        .bonus {
                            color: #70C05B;
                        }
                    }
                }

                .producedBy {
                    display: grid;
                    font-size: 12px;
                    grid-template-columns: 1fr 1fr;
                    margin-top: 10px;

                    p,
                    h4 {
                        margin-top: 10px;
                    }
                }
            }

            .sameProductSide {
                display: grid;
                row-gap: 15px;
                grid-template-rows: 15px 1fr 1fr 1fr 1fr;

                article {
                    background-color: blueviolet;
                    border-radius: 4px;
                    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
                }
            }
        }
    }

    .interestItems {
        &__Wrapper {
            display: grid;
            column-gap: 40px;
            grid-template-columns: repeat(4, 1fr);

            .interestItem {
                width: 100%;
                height: 300px;
                border-radius: 4px;
                position: relative;
                box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);

                .addInterest{
                    top: 10px;
                    right: 10px;
                    position: absolute;
                    padding: 3px 4px 0;
                    border-radius: 6px;
                    color: #F3F2F160;
                    background-color: #F3F2F140;
                }

                img {
                    width: 100%;
                    height: 44%;
                    border-radius: 4px;
                    background-color: #af911a;
                }

                .itemDiscription {
                    padding: 8px;
                    display: grid;
                    grid-template-rows: 1fr 2fr 1fr;
                    h3 {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .addBasket {
                        width: 100%;
                        padding: 10px 0;
                        color: #70C05B;
                        border-radius: 5px;
                        border: 1px solid #70C05B;
                        background-color: transparent;
                    }
                }
            }
        }
    }

}